# Go binary files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Dependency directories
/vendor/

# Build output directories
/bin/
/obj/

# IDE or editor specific files
.idea/
.vscode/
*.swp
*.swo
*.swn

# MacOS system files
.DS_Store

# Go specific cache files
*.cache
*.out

# Go coverage files
*.coverage
*.cov

# Go modules cache
go.sum

# Go workspace files
go.work

# Test result files
*.testresults/

# Log files
*.log

# Other OS specific files
Thumbs.db